body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    overflow: auto;
}

a:link, a:visited, a:active{
    color: blue;
}

DIV.tudo{
    width: 100%;
    padding-bottom: 30px;
}

DIV.centro{
    padding: 0px;
    border: none;
    text-align: left;
    margin: 0px auto;
    width: 900px;
}

/*---------------------------------------------------------------------------*/
/*--------------------Estilo da tela de Login--------------------------------*/
/*---------------------------------------------------------------------------*/

#login{
    padding-top: 3px;
}

#tabela_inicial{
    border-style: none;
}

#tabela_inicial td{
    border-style: none;
}

/*---------------------------------------------------------------------------*/
/*----------------------------Estilo do Menu---------------------------------*/
/*---------------------------------------------------------------------------*/

#img{
    background: white url('../imagem/SisHabit_cab.jpg') no-repeat top left;
    height: 205px;
}

#submenu{
    background: white;
}

#barra_menu{
    background: blue;
    width: 900px;
}

#barra_menu ul{
    padding:0px;
    padding-top: 5px;
    margin:0px;
    list-style:none;
    width: 100%;
    display: flex;
    align-items: stretch;
}

#barra_menu li{
    border: none;
}

#barra_menu a{
    padding: 2px 20px;
    float:left;
    color: white;
    text-decoration: none;
    font-size: 12pt;
}

#barra_menu a:hover{
    text-decoration: underline;
}

/*---------------------------------------------------------------------------*/
/*--------------------Estilo das tabelas-------------------------------------*/
/*---------------------------------------------------------------------------*/


table{
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}
td{
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

tr{
    border-style: none;
    padding: 0px;
    margin: 0px;
}

/*---------------------------------------------------------------------------*/
/*--------------------Estilo dos Títulos-------------------------------------*/
/*---------------------------------------------------------------------------*/

H1{
    margin:0px;
    padding: 15px;
    text-align: center;
    font-size: 12pt;
    color: blue;
    font-family: Arial;
}

h4{
    background: url('../imagem/inf_esq.jpg') no-repeat left bottom;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 8pt;
    color: black;
    font-family: Arial;
    height: 20px;
    clear: both;
    margin-top: 10px;
}

h6{
    margin: 0px;
    margin-left: 350px;
    padding-top: 30px;
    font-family: "Comic Sans MS";
    font-size: 34px;
    color: blue;
}
h5{
    margin: 0px;
    padding: 0px;
    margin-left: 350px;
    padding-top: 20px;
    font-family: "Times New Roman";
    font-size: 20px;
}

/*---------------------------------------------------------------------------*/
/*----------------------------Estilo da Masterpage---------------------------*/
/*---------------------------------------------------------------------------*/

#master{
    background: white url('../imagem/inf_dir.jpg') no-repeat bottom right;
    text-align: center;
    width: 900px;
}

#consultas{
    border: 2px solid blue;
    margin-right: 20px;
}

ul{
    padding:0px;
    padding-top: 5px;
    width: auto;
    list-style:none;
    margin: 5px;
    text-align: center;
}

li{
    display: inline;
    margin: 1px;
    border: 2px solid;
    border-color: blue;
    padding: 3px;
}

.fleft{
    float: left;
    margin-left: 5px;
    margin-bottom: 30px;
}

/*---------------------------------------------------------------------------*/
/*--------------------Estilo da Página de Cadastro---------------------------*/
/*---------------------------------------------------------------------------*/

#cadsis{
    text-align: center;
    color: blue;
    font-size: 12pt;
    font-weight: 600;
}

img{
    border: none;
}
.menu-cad {
    width: 100%;
    display: table;
}
.menu-cad li {
    float: left
}
.cadastros-container {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.cadastros-container > div {
    margin-bottom: 30px;
    width: 50%;
}